{% extends "layout.html" %}

{% block content %}

<body class="text-center">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-10 col-md-8 col-lg-6">
                <form class="form-signin">
                    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                    <label for="AdminID" class="sr-only">Email address</label>
                    <input type="id" id="AdminID" class="form-control" placeholder="Admin ID" required=""
                        autofocus="">
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                </form>
            </div>
        </div>
    </div>

</body>
{% endblock %}