{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Flask</h1>
    <p class="lead">Flask is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://flask.pocoo.org/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div>
  <label for="searchBox1">Asset Type : </label>
  <select class="custom-select custom-select-lg mb-3" id="searchBox1" onchange="location = this.value;">
    <option selected> choose asset type </option>
    <option value ="{{ url_for('user_mobile')}}">Mobile</option>
    <option >Laptop</option>
    <option >Tablet</option>
    <option >Site</option>
  </select>
</div>

<div class = "container" >
  <table class="table table-striped">    
    <thead>
      <tr>
        <th scope="row"></th>
        {%  for line in headers: %}
        <th> {{ line[0]}} </th>
        {% endfor %}
      </tr>
    </thead> 
  {%  for line in tableRows: %}
    <tbody>
      <tr>
        <th scope="row"></th>
        {%  for x in line: %}
        <td>{{ x }}</td>
        {% endfor %}
      </tr>
    </tbody>
  {% endfor %}
  </table>    
</div>

{% endblock %}
