{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <div style="text-align:center">
        <h2>Welcome to Assets Management System</h2>
        <p> ***   Select your user type   ***</p>
    </div>     
</div>
<div class="row">
    <div class="col-lg-3 offset-md-2">
      <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"></svg><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
      <h2>General User</h2>
      <p><a class="btn btn-secondary" href="{{ url_for('userview')}}" role="button">User View »</a></p>
    </div>
    <div class="col-lg-3 offset-md-2">
      <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
      <h2>Administrator</h2>
      <p><a class="btn btn-secondary" href="{{ url_for('login')}}" role="button">Admin View »</a></p>
    </div>
</div>

{% endblock %}
